<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Quiz</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="error-messages" style="color: red;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="post" action="/">
        <label for="studentid">Öğrenci ID:</label>
        <input type="text" name="studentid" id="studentid" required>
        <input type="submit" value="Giriş">
    </form>

    <footer>
        Created by Fatih Aciroğlu
    </footer>
</body>
</html>