<!DOCTYPE html>
<html>
<head>
    <title>Kayıt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Kayıt Ol</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="error-messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="post" action="/register">
        <label for="studentid">Öğrenci ID:</label>
        <input type="text" name="studentid" id="studentid" required value="{{ studentid }}">

        <label for="name">Ad:</label>
        <input type="text" name="name" id="name" required>

        <label for="surname">Soyad:</label>
        <input type="text" name="surname" id="surname" required>

        <input type="submit" value="Kayıt Ol">
    </form>

    <footer>
        Created by Fatih Aciroğlu
    </footer>
</body>
</html>